body {
  background-color: #282c34;
}

.App {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number {
  width: 100px;
  height: 100px;
  outline: none;
  background-color: ghostwhite;
  border: 1px solid lightgrey;
  font-size: 30px;
}

.operator {
  width: 100px;
  height: 100px;
  outline: none;
  background-color: cornflowerblue;
  color: white;
  border: 1px solid lightgrey;
  font-size: 30px;
}

.equal {
  width: 100px;
  height: 100px;
  outline: none;
  background-color: goldenrod;
  color: white;
  font-size: 30px;
}

.clear {
  height: 100px;
  flex-grow: 1;
  outline: none;
  background-color: firebrick;
  color: white;
  border: 1px solid lightgrey;
  font-size: 30px;
}

.answer {
  height: 100px;
  width: 100%;
  outline: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 70px;
}
