body {
  background-color: #282c34;
}
.App {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number {
  width: 100px;
  height: 100px;
  background-color: ghostwhite;
  outline: none;
  border: 1px solid lightgrey;
}

.symbol {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  color: white;
  outline: none;
  border: 1px solid lightgrey;
}

.clear {
  height: 100px;
  flex-grow: 1;
  background-color: lightsteelblue;
  outline: none;
  border: 1px solid lightgrey;
}

.answer {
  height: 100px;
  width: 400px;
  outline: none;
}
